<div class="row col-md-12">
  <h4><%= t('user.roles.components.layout.resource') %></h4>
  <div>
    <%= render(layout: 'layouts/components/filter/body') do %>
      <%= search_form_for(@query, url: user_roles_path) do |form| %>
        <%= render(partial: 'user/roles/components/filters', locals: { form: form }) %>
        <%= render(partial: 'layouts/components/filter/footer', locals: { form: form }) %>
      <% end %>
    <% end %>
    <div class="pull-right mb-2">
      <% if can?(:read, User) %>
        <%= link_to(admin_users_path, class: 'btn btn-sm -bg-primary') do %>
          <i class="bi bi-people"></i>
          <%= t('.users') %>
        <% end %>
      <% end %>
      <% if can?(:create, User::Role) %>
        <%= link_to(new_user_role_path, class: 'btn btn-sm -transparent-standard') do %>
          <i class="bi bi-plus-circle"></i>
          <%= t('application.new') %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="table-wrap">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th><%= sort_link(@query, :kind_cd, t('.kind')) %></th>
          <th><%= sort_link(@query, :user_person_name, t('.name')) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @user_roles.each do |role| %>
          <tr>
            <td><%= I18n.t(role.kind_cd, scope: 'activerecord.attributes.user/role.kinds') %></td>
            <td><%= link_to(role.user.person.name, admin_user_path(role.user)) %></td>
            <td>
              <% if can?(:update, User::Role) %>
                <%= link_to(edit_user_role_path(role), class: 'btn btn-sm') do %>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
              <% end %>
              <% if can?(:destroy, User::Role) && role.user != current_user %>
                <%= link_to(user_role_path(role),
                            data: {
                              turbo_method: :delete,
                              turbo_confirm: "#{t('user.roles.components.layout.delete_confirm')}: #{role.translated_kind}?"
                            },
                            class: 'btn btn-sm -danger') do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%=
  render partial: 'layouts/components/index/footer',
         locals: {
           resource: @user_roles
         }
%>
