<div class="text-center mb-3">
  <%= image_tag("#{white_label}/logo.png", width: 120) %>
</div>

<%= link_to(dashboard_index_path, class: "#{'active-menu' if request.path.include?(dashboard_index_path) || request.path == root_path} list-item-menu list-group-item-action",
                                  id: 'dashboard') do %>
  <div class="menu">
    <div class="icon">
      <i class="bi bi-clipboard-data"></i>
    </div>
    <span><%= t('layouts.application.dashboard') %></span>
  </div>
<% end %>

<% if can?(:read, User) %>
  <%= link_to(admin_users_path, class: "#{'active-menu' if request.path.include?(admin_users_path) || request.path.include?(user_roles_path)} list-item-menu list-group-item-action",
                          id: 'user') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-people"></i>
      </div>
      <span><%= t('admin.users.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>

<% if can?(:read, MeasureUnit) %>
  <%= link_to(measure_units_path, class: "#{'active-menu' if request.path.include?(measure_units_path)} list-item-menu list-group-item-action", id: 'measure_unit') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-rulers"></i>
      </div>
      <span><%= t('measure_units.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>
